<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cajero Automático</title>
  <style>
    body {
      background-color: #121212;
      color: #FFFFFF;
      font-family: 'Arial', sans-serif;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>

  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div class="main-container">
    <h1>Transacción exitosa!</h1>
    <form method="" id="exit-form">
      <label for="submit">¿Desea realizar otro retiro?</label><br>
      <div class="submit-container">
        <input type="submit" value="Sí">
        <input type="submit" value="No">
      </div>
    </form>
    <script src="/src/success.js"></script>
  </div>
</body>

</html>